@use '@/styles/abstract/mixins' as *;

.landingTextContent {
  display: flex;
  flex-direction: column;
  gap: clamp(var(--space-4), 2vw, var(--space-6));
  max-width: 640px;

  @include media-desktop-small {
    max-width: 100%;
  }

  & .title {
    white-space: pre-line;
    font-size: clamp(2.5rem, 5vw, var(--font-size-h1-superlarge));
    line-height: 1.1;
    color: var(--text-primary);
    letter-spacing: var(--letter-spacing-narrowing-0-025);
    font-weight: 500;

    & .subTitle {
      color: var(--text-secondary);
    }
  }

  & .description {
    font-size: clamp(1.125rem, 2vw, var(--font-size-superlarge));
    line-height: var(--line-height-superlarge);
    color: var(--text-secondary);
    margin-bottom: clamp(var(--space-6), 3vw, var(--space-10));

    @include media-tablet {
      font-size: var(--font-size-large);
      line-height: var(--line-height-large);
    }
  }
}
