@use '@/styles/abstract/mixins' as *;

.landing {
  overflow: hidden;
}

.mainContent {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex: 1;

  @include media-laptop {
    @include space-transition;
  }

  @include media-desktop-small {
    flex-direction: column-reverse;
    align-items: start;
    gap: clamp(var(--space-8), 4vw, var(--space-16));
  }

  @include media-tablet {
    padding-top: clamp(var(--space-8), 5vw, var(--space-12));
    padding-inline: clamp(var(--space-6), 5vw, var(--space-8));
  }
}

.mainDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
