.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  width: 100%;
  margin-inline: auto;

  .tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    background: inherit;
    margin-top: 24px;
    border-bottom: 1px solid #888888;
    margin-bottom: 20px;

    .tab {
      width: 50%;
      background: inherit;
      border-radius: 0;
      color: #868383;
      border-bottom: 2px solid #888888;
    }
    .tabActive {
      color: #fff;
      border-bottom: 2px solid #3b82f6;
    }
  }
}
