.card {
  position: relative;

  background: var(--card-bg, rgba(255, 255, 255, 0.03));

  border: 1px solid var(--card-border, var(--border-subtle));
  border-radius: var(--radius-md);

  overflow: hidden;
  transition: var(--transition);
}

.color-gray {
  --card-bg: var(--bg-surface);
  --card-border: rgba(255, 255, 255, 0.1);
}

.color-green {
  --card-bg: #061711;
  --card-border: rgba(16, 185, 129, 0.3);
}

.color-blue {
  --card-bg: #0a111d;
  --card-border: rgba(59, 130, 246, 0.3);
}

.color-red {
  --card-bg: #1d0a0a;
  --card-border: rgba(246, 59, 59, 0.3);
}

.padding-none {
  padding: 0;
}
.padding-sm {
  padding: 1.2rem;
}
.padding-md {
  padding: 2.4rem;
}
.padding-lg {
  padding: 3.2rem;
}
.padding-hg {
  padding: 4.8rem;
}

.glass {
  &.color-gray {
    --card-bg: rgba(255, 255, 255, 0.05);
  }

  &.color-green {
    --card-bg: rgba(16, 185, 129, 0.1);
  }

  &.color-blue {
    --card-bg: rgba(59, 130, 246, 0.1);
  }

  &.color-red {
    --card-bg: rgba(246, 59, 59, 0.1);
  }
}
