@use '../abstract/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {
  font-size: var(--font-size-default);
}

body {
  color: var(--text-primary);
  font-family: var(--font-primary);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  font-weight: 400;
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-body);

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image:
      linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 100px 100px;

    pointer-events: none;
    z-index: -1;
  }
}

#app {
  max-width: 1470px;
  width: 100%;
  min-height: 100dvh;

  margin: 0 auto;
  padding: 5svh 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-tablet {
    padding: 5svh 10px;
  }
}

.pageContainer {
  width: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: column;

  animation: fadeIn 1s ease-out forwards;
  will-change: opacity;
}

/* Headings (Desktop) */
h1 {
  font-size: var(--font-h1-size);
  line-height: var(--line-h1-height);
  font-weight: 500;
}

h2 {
  font-size: var(--font-h2-size);
  line-height: var(--line-h2-height);
  font-weight: 500;
}

h3 {
  font-size: var(--font-h3-size);
  line-height: var(--line-h3-height);
  font-weight: 500;
}

h4 {
  font-size: var(--font-h4-size);
  line-height: var(--line-h4-height);
  font-weight: 500;
}

h5 {
  font-size: var(--font-h5-size);
  line-height: var(--line-h5-height);
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
